/* imagen de fondo login*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: SourceSansPro-Italic;
    src: url(fonts/SourceSansPro-Italic.ttf);
}

html {
    font-family: SourceSansPro-Italic, Verdana, Arial, Helvetica, sans-serif;
}

.logo2 {
    width: 225px;
    border-radius: 50%;
    margin-top: -50px;
}

.logotipo {
    width: 50px;
    height: 50px;
}

.logotabla {
    width: 150;
    height: 120;
}


/*
@font-face {
font-family: 'thebit';
src: url('fonts/futuran-webfont-webfont.eot');
src: url('fonts/futuran-webfont-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/futuran-webfont-webfont.woff') format('woff'),
url('fonts/futuran-webfont-webfont.ttf') format('truetype'),
url('fonts/futuran-webfont-webfont.svg#futura_bk_btbook') format('svg');
}

Luego ya basta con usar la propiedad font-family.

font-family: thebit, Verdana, Arial, Helvetica, sans-serif;*/